<div class="card-deck container-fluid d-flex group-style">
    <div class="card card-style">
    <a class="card-title title-style">Firearms</a>
      <img src=".\assets\card1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Find Firearms Forms, Publications and Q&As</p>
      </div>
    </div>
    <div class="card card-style">
        <a class="card-title title-style">Explosives</a>
          <img src=".\assets\card2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Find Explosives News, Trainings and Tools</p>
          </div>
    </div>
    <div class="card card-style">
        <a class="card-title title-style">Arson</a>
          <img src=".\assets\card3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Find Arson News, Trainings, and Videos</p>
          </div>
    </div>
    <div class="card card-style">
        <a class="card-title title-style">Alcohol & Tobacco</a>
          <img src=".\assets\card4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Find Alcohol and Tobacco Publications and Q&As</p>
          </div>
    </div>
  </div>
  <div class="card-deck container-fluid d-flex group-style">
    <div class="card card-style">
    <a class="card-title title-style">Regulations</a>
      <img src=".\assets\card5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Find Rulings, Rulemakings , General Notices, and 41F</p>
      </div>
    </div>
    <div class="card card-style">
        <a class="card-title title-style">Submit a Tip</a>
          <img src=".\assets\card6.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Submit an anonymous tip on illegal activity or other acts of violence.</p>
          </div>
    </div>
    <div class="card card-style">
        <a class="card-title title-style">Careers</a>
          <img src=".\assets\card7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Find Information on How to Join the ATF Workforce</p>
          </div>
    </div>
    <div class="card card-style">
        <a class="card-title title-style">Resource Center</a>
          <img src=".\assets\card8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Find Publications, Forms, Videos and More</p>
          </div>
    </div>
  </div>