<div class="row">
    <div class="col-12">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="input-group mb-1 mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Email</span>
                </div>
                <input type="text" class="form-control" placeholder="Email"
                ngModel name="email"
                required email>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Password</span>
                </div>
                <input type="password" class="form-control" placeholder="Password"
                ngModel name="password"
                required password>
            </div>
            <button class="btn btn-dark m-1" type="submit" [disabled]="!authForm.valid" (click)="buttonClicked='login'">
                Login
            </button>
            <button class="btn btn-dark" type="submit" [disabled]="!authForm.valid" (click)="buttonClicked='signup'">
                Sign up
            </button>
        </form>
    </div>
</div>
