<a href="" class="home-style">Home</a>
<hr class="line-style">
<div class="container" style="font-family: Palatino Linotype,Georgia,Times New Roman,Times,serif;">
    <div class="row">
      <div class="col-3" style="padding-left: 11%">
        <div>
            <a class="sidebar-style">About Home</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Executive Staff</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Organization Structure</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Rapid Response Teams</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Diversity & Inclusion</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Community Outreach</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Budget & Performance</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Data & Statistics</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">ATF Stories</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">History</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Frequently Asked Questions</a>
            <hr>
        </div>
        Email Updates
        <br><br>
        Subscribe to receive news and update from the Bureau of Alcohol, Tobacco, Firearms and Explosives
        <br><br>
        Enter Email Address
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="text" class="form-control" aria-label="Text input with checkbox">
              </div>
            </div>
        </div>
        <button>Submit</button>
      </div>
      <div class="col-8">
        <h1>What We Do</h1>
        <img src=".\assets\image_of_atfe.jpg" style="width: 97%;">
        <p>ATF's responsibilities include the investigation and prevention of federal offenses involving the unlawful use, manufacture, and possession of firearms and explosives; acts of arson and bombings; and illegal trafficking of alcohol and tobacco products. The ATF also regulates, via licensing, the sale, possession, and transportation of firearms, ammunition, and explosives in interstate commerce. Many of ATF's activities are carried out in conjunction with task forces made up of state and local law enforcement officers, such as Project Safe Neighborhoods. ATF operates a unique fire research laboratory in Beltsville, Maryland, where full-scale mock-ups of criminal arson can be reconstructed.</p>
        <br>
        <a class="paragraph-titles">Alcohol & Tobacco</a>
        <br>
        <p>The goal of ATF’s Alcohol and Tobacco Enforcement Programs in order to target, identify, and dismantle criminal enterprises with ties to violent crime, that traffic illicit liquor or contraband tobacco in interstate commerce; seize and deny their access to assets and funds; and prevent their encroachment into the legitimate alcohol or tobacco industry.  Learn more about ATF and our role with alcohol and tobacco.</p>
        <a class="paragraph-titles">Firearms</a>
        <br>
        <p>ATF uses these statutes to target, investigate and recommend prosecution of these offenders to reduce the level of violent crime and to enhance public safety. ATF also strives to increase State and local awareness of available Federal prosecution under these statutes. To curb the illegal use of firearms and enforce the Federal firearms laws, ATF issues firearms licenses and conducts firearms licensee qualification and compliance inspections.  Learn more about ATF and firearms.</p>
        <a class="paragraph-titles">Explosives</a>
        <br>
        <p>Federal explosives law and regulations affect all persons who import, manufacture, deal in, purchase, use, store, or possess explosive materials. They also affect those who ship, transport, cause to be transported, or receive explosive materials. ATF plays a vital role in regulating and educating the explosives industry, and in protecting the public from inadequate storage and security. Learn more about ATF and explosives.</p>
        <a class="paragraph-titles">Arson</a>
        <br>
        <p>The Bureau of Alcohol, Tobacco, Firearms and Explosives (ATF) is the federal agency primarily responsible for administering and enforcing the criminal and regulatory provisions of the federal laws pertaining to destructive devices (bombs), explosives, and arson. Over nearly 40 years, ATF has developed scientifically proven investigative capabilities, expertise, and resources they have positioned ATF as the nation’s primary source for explosives and fire investigative knowledge and assistance. Learn more about ATF and arson.</p>
        <a class="paragraph-titles">Special Response Teams</a>
        <br>
        <p>ATF’s Special Response Teams (SRTs) are elite tactical groups that rapidly respond to high-risk law enforcement operations and conduct criminal investigations that lead to the arrests of the most violent criminals in the United States. Their work includes search and arrest warrants, high-risk criminal investigations, undercover operations, surveillance operations, and protective service operations. Learn about ATF Special Response Teams.</p>
    </div>
    </div>
  </div>
