<p *ngIf="myInfo == undefined">Failed to fetch user info</p>
<div *ngIf="myInfo != undefined">
    <div class="container-fluid">
        <div class="flex-row">
            <div class="flex-column">
                User: {{myInfo.FirstName}} {{myInfo.LastName}}
            </div>
            <div class="flex-column">
                Mix ID: {{myInfo.mix_id}}
            </div>
            <div class="flex-column">
                GitHub Link: {{myInfo.GitHub}}
            </div>
        </div>
    </div>
</div>
