<div class="drawbox">How can we help you today?
    <select class="dropdown-style">
        <option>I would like to...</option>
        <option>Store fireworks safely</option>
        <option>Sell a firearm as a licensee (Form 4473)</option>
        <option>Sell/transfer an NFA firearm (Form 4)</option>
        <option>Make and register a firearm (Form 1)</option>
        <option>Repair a firearm</option>
        <option>Move a firearm to another state</option>
        <option>Ship a firearm through the mail</option>
        <option>Apply for a federal firearms license</option>
        <option>Become a special agent</option>
        <option>Contact the ATF</option>
    </select>
</div>
<div class="paragraph-style">
    <h3 style="font-size: 1.76923em; line-height: 1.03478em; font-weight: bold;">About the Bureau of Alcohol, Tobacco, Firearms and Explosives</h3>
    <p>ATF is a law enforcement agency in the United States’ Department of Justice that protects our communities from violent criminals, criminal organizations, the illegal use and trafficking of firearms, the illegal use and storage of explosives, acts of arson and bombings, acts of terrorism, and the illegal diversion of alcohol and tobacco products. We partner with communities, industries, law enforcement, and public safety agencies to safeguard the public we serve through information sharing, training, research, and use of technology.</p>
</div>