<nav class="navbar navbar-expand-lg navbar-colors">
    <a class="navbar-brand" href="#" style="color:white;font-family: Palatino Linotype,Georgia,Times New Roman,Times,serif;font-size: 14px;">
        <img src=".\assets\atf-logo.png">
        <img src=".\assets\atf-head-logo-sm.png">
        Bureau of Alcohol, Tobacco, Firearms and Explosives
    </a>

    <div class="container">
      <ul class="navbar-nav mr-auto">
        <button class="btn btn-secondary navbar-btn">
            WHO WE ARE
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
      </ul>
      <ul class="navbar-nav mr-auto">
        <button class="btn btn-secondary navbar-btn">
            WHAT WE DO
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
      </ul>
      <ul class="navbar-nav mr-auto">
        <button class="btn btn-secondary navbar-btn">
            RESOURCES
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
      </ul>
        <input class="form-control" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
  </nav>
  