<a href="" class="home-style">Home</a>
<hr class="line-style">
<div class="container" style="font-family: Palatino Linotype,Georgia,Times New Roman,Times,serif;">
    <div class="row">
      <div class="col-3" style="padding-left: 11%">
        <div>
            <a class="sidebar-style">About Home</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Executive Staff</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Organization Structure</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Rapid Response Teams</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Diversity & Inclusion</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Community Outreach</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Budget & Performance</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Data & Statistics</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">ATF Stories</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">History</a>
            <hr>
        </div>
        <div>
            <a class="sidebar-style">Frequently Asked Questions</a>
            <hr>
        </div>
        Email Updates
        <br><br>
        Subscribe to receive news and update from the Bureau of Alcohol, Tobacco, Firearms and Explosives
        <br><br>
        Enter Email Address
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="text" class="form-control" aria-label="Text input with checkbox">
              </div>
            </div>
        </div>
        <button>Submit</button>
      </div>
      <div class="col-8">
        <h1>Who We Are</h1>
        <img src=".\assets\atf_enterance.jpg" style="width: 97%;">

        <p>The Bureau of Alcohol, Tobacco, Firearms, and Explosives (ATF) was established as a separate component within the Department of Justice pursuant to Title XI of the Homeland Security Act of 2002, Public Law 107-296, on January 17, 2003.
            <br><br>
            The mission of ATF is to protect communities from violent criminals, criminal organizations, the illegal use and trafficking of firearms, the illegal use and storage of explosives, acts of arson and bombings, acts of terrorism, and the illegal diversion of alcohol and tobacco products.
            <br><br>
            The major functions of ATF are to:
        </p>
        <ul>
            <li>Reduce the risk to public safety caused by illegal firearms trafficking.</li>
            <li>Reduce the risk to public safety caused by criminal possession and use of firearms.</li>
            <li>Reduce the risk to public safety caused by criminal organizations and gangs.</li>
            <li>Improve public safety by increasing compliance with Federal laws and regulations by firearms industry members.</li>
            <li>Reduce the risk to public safety caused by bombs and explosives.</li>
            <li>Reduce the risk to public safety caused by criminal use of fire.</li>
            <li>Improve public safety by increasing compliance with Federal laws and regulations by explosives industry members.</li>
            <li>Reduce the loss of tax revenues caused by contraband alcohol and tobacco trafficking.</li>
        </ul>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <a class="column-headers">Bureau Structure</a>
                <img src=".\assets\atf_org.png">
              </div>
              <div class="col-sm">
                <a class="column-headers">Executive Staff</a>
                <img src=".\assets\richardson_marvin.jpg">
              </div>
              <div class="col-sm">
                <a class="column-headers">Our History</a>
                <img src=".\assets\eliotness.jpg">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>